.DS_Store
.vscode
*.dSYM
*.icloud
MiniRT
MiniRT_bonus
*.out
src/*.o
libft/*.o
lib_visual/*.o
*.a
libft/*.a
lib_visual/minilibx/libmlx.a
lib_visual/minilibx/*.o
lib_visual/minilibx/*.a
lib_visual/minilibx-linux/*.o
lib_visual/minilibx-linux/*.a